In [66]:
import pandas as pd
import numpy as np

In [67]:
#reading greenhouse multispew data
data_greenhouse = pd.read_csv("Multispeq_HIPS_GS1_GH.csv")

In [97]:
#reading field multispeq data
data_field = pd.read_csv("Multispeq_HIPS_GS1_Field.csv")

In [69]:
data_greenhouse.head()

,ID,Series,Repeat,PLOT ID,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,data_raw_PAM,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2826053,Whole Data Set,1,4104,2,"27.78,27.79,27.8",41.63965,975.71924,27.80,"460,458,458,458,458,458,457,457,457,457,456,45...",...,06/29/2022 4:04 PM,16.074722,0.0017,0.011985,0.005,Deniz Istipliler,52:00:08:06,40.832821,-96.690845,NaN
1,2826043,Whole Data Set,1,4104,1,"27.82,27.82,27.82",42.10254,975.71295,27.82,"456,453,455,453,454,454,453,456,454,456,458,45...",...,06/29/2022 4:20 PM,16.341944,0.0106,0.007547,0.009,Deniz Istipliler,52:00:08:06,40.832800,-96.690827,NaN
2,2826052,Whole Data Set,1,4106,2,"27.86,27.87,27.87",41.73926,975.76263,27.87,"290,288,290,286,288,289,287,288,289,290,289,29...",...,06/29/2022 4:05 PM,16.086389,-0.0031,0.006549,0.000,Deniz Istipliler,52:00:08:06,40.832824,-96.690848,NaN
3,2826042,Whole Data Set,1,4106,1,"27.9,27.91,27.92",42.39844,975.74005,27.92,"406,407,409,407,406,408,408,408,407,406,406,40...",...,06/29/2022 4:21 PM,16.357222,0.0103,0.008763,0.003,Deniz Istipliler,52:00:08:06,40.832817,-96.690844,NaN
4,2826065,Whole Data Set,1,4108,2,"27.25,27.26,27.28",42.12012,975.98578,27.28,"472,471,470,469,470,469,471,471,470,471,468,46...",...,06/29/2022 3:46 PM,15.773611,0.0046,0.008741,0.009,Deniz Istipliler,52:00:08:06,40.832815,-96.690846,NaN

In [112]:
#Inserting the column "Source" with the value of 'GH'
data_greenhouse.insert(4, "Source", np.repeat("GH", 213))

ValueError: cannot insert Source, already exists

In [106]:
data_greenhouse.head()

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2826053,Whole Data Set,1,4104,GH,2,"27.78,27.79,27.8",41.63965,975.71924,27.80,...,06/29/2022 4:04 PM,16.074722,0.0017,0.011985,0.005,Deniz Istipliler,52:00:08:06,40.832821,-96.690845,NaN
1,2826043,Whole Data Set,1,4104,GH,1,"27.82,27.82,27.82",42.10254,975.71295,27.82,...,06/29/2022 4:20 PM,16.341944,0.0106,0.007547,0.009,Deniz Istipliler,52:00:08:06,40.832800,-96.690827,NaN
2,2826052,Whole Data Set,1,4106,GH,2,"27.86,27.87,27.87",41.73926,975.76263,27.87,...,06/29/2022 4:05 PM,16.086389,-0.0031,0.006549,0.000,Deniz Istipliler,52:00:08:06,40.832824,-96.690848,NaN
3,2826042,Whole Data Set,1,4106,GH,1,"27.9,27.91,27.92",42.39844,975.74005,27.92,...,06/29/2022 4:21 PM,16.357222,0.0103,0.008763,0.003,Deniz Istipliler,52:00:08:06,40.832817,-96.690844,NaN
4,2826065,Whole Data Set,1,4108,GH,2,"27.25,27.26,27.28",42.12012,975.98578,27.28,...,06/29/2022 3:46 PM,15.773611,0.0046,0.008741,0.009,Deniz Istipliler,52:00:08:06,40.832815,-96.690846,NaN

In [98]:
data_field.head()

,ID,Series,Repeat,PLOT ID,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,data_raw_PAM,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,"374,376,375,376,376,376,374,375,377,374,374,37...",...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,"404,401,404,400,405,405,401,404,405,405,406,40...",...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
2,2822253,Whole Data Set,1,4106,1,"25.19,25.23,25.24",45.39258,980.81995,25.24,"760,756,756,759,758,757,758,754,756,757,756,75...",...,06/28/2022 8:21 AM,8.354444,0.0112,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN
3,2822252,Whole Data Set,1,4106,2,"25.35,25.38,25.42",44.93066,980.78674,25.42,"502,502,500,498,500,501,501,497,498,498,500,50...",...,06/28/2022 8:21 AM,8.364722,0.0321,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN
4,2822251,Whole Data Set,1,4108,1,"25.64,25.66,25.69",43.59570,980.77661,25.69,"436,435,436,436,438,434,436,436,439,438,438,43...",...,06/28/2022 8:22 AM,8.380000,-0.0322,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN

In [73]:
data_field.shape

(217, 59)

In [102]:
# Looking for the bad measurement acording to multispeq
data_field.loc[data_field["PLOT ID"] == 4236, :]

,ID,Series,Repeat,PLOT ID,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,data_raw_PAM,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
48,2822207,Whole Data Set,1,4236,1,"29.24,29.25,29.27",37.83203,980.59204,29.27,"309,309,310,310,307,306,309,314,306,311,311,31...",...,06/28/2022 9:05 AM,9.093333,0.0003,0.111131,0.027,Deniz Istipliler,52:00:08:06,40.852215,-96.616311,1.0
49,2822206,Whole Data Set,1,4236,2,"29.32,29.33,29.35",37.61914,980.59564,29.35,"248,247,252,246,246,249,250,246,249,248,248,24...",...,06/28/2022 9:06 AM,9.101667,-0.0036,-0.005541,0.106,Deniz Istipliler,52:00:08:06,40.852199,-96.616309,NaN

In [101]:
# dropping the bad measurement (plot id 4236)
data_field = data_field.drop(216)

In [103]:
#Inserting the column "Source" with the value of "field"
data_field.insert(4, "Source", np.repeat("field", 216))

In [104]:
data_field.head()

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,field,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,field,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
2,2822253,Whole Data Set,1,4106,field,1,"25.19,25.23,25.24",45.39258,980.81995,25.24,...,06/28/2022 8:21 AM,8.354444,0.0112,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN
3,2822252,Whole Data Set,1,4106,field,2,"25.35,25.38,25.42",44.93066,980.78674,25.42,...,06/28/2022 8:21 AM,8.364722,0.0321,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN
4,2822251,Whole Data Set,1,4108,field,1,"25.64,25.66,25.69",43.59570,980.77661,25.69,...,06/28/2022 8:22 AM,8.380000,-0.0322,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN

In [107]:
# Merging two dataframes
merged_data = pd.merge(data_field , data_greenhouse , how= 'outer')

In [108]:
merged_data.head()

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,field,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,field,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
2,2822253,Whole Data Set,1,4106,field,1,"25.19,25.23,25.24",45.39258,980.81995,25.24,...,06/28/2022 8:21 AM,8.354444,0.0112,0.164864,0.136,Deniz Istipliler,52:00:08:06,40.852266,-96.616658,NaN
3,2822252,Whole Data Set,1,4106,field,2,"25.35,25.38,25.42",44.93066,980.78674,25.42,...,06/28/2022 8:21 AM,8.364722,0.0321,0.006851,0.056,Deniz Istipliler,52:00:08:06,40.852273,-96.616687,NaN
4,2822251,Whole Data Set,1,4108,field,1,"25.64,25.66,25.69",43.59570,980.77661,25.69,...,06/28/2022 8:22 AM,8.380000,-0.0322,-0.000933,0.056,Deniz Istipliler,52:00:08:06,40.852392,-96.616628,NaN

In [109]:
merged_data.loc[merged_data['PLOT ID'] == 4104 , :]

,ID,Series,Repeat,PLOT ID,Source,REP,air_temp_kinetics,Ambient Humidity,Ambient Pressure,Ambient Temperature,...,time,Time of Day,tP700,v_initial_P700,vH+,User,Device ID,Latitude,Longitude,Issues
0,2822255,Whole Data Set,1,4104,field,1,"24.44,24.47,24.51",45.55762,980.98608,24.51,...,06/28/2022 8:18 AM,8.314722,-0.0001,-0.540479,-0.446,Deniz Istipliler,52:00:08:06,40.852332,-96.616715,NaN
1,2822254,Whole Data Set,1,4104,field,2,"24.93,24.97,24.99",46.45410,980.91498,24.99,...,06/28/2022 8:20 AM,8.338333,-0.0797,-0.000251,0.040,Deniz Istipliler,52:00:08:06,40.852328,-96.616726,NaN
216,2826053,Whole Data Set,1,4104,GH,2,"27.78,27.79,27.8",41.63965,975.71924,27.80,...,06/29/2022 4:04 PM,16.074722,0.0017,0.011985,0.005,Deniz Istipliler,52:00:08:06,40.832821,-96.690845,NaN
217,2826043,Whole Data Set,1,4104,GH,1,"27.82,27.82,27.82",42.10254,975.71295,27.82,...,06/29/2022 4:20 PM,16.341944,0.0106,0.007547,0.009,Deniz Istipliler,52:00:08:06,40.832800,-96.690827,NaN

In [110]:
merged_data.shape

(429, 60)

In [111]:
#save the file as a csv
merged_data.to_csv('GS1_multispeq.csv')

In [113]:
#reading the ground truth data 
data_ground_truth = pd.read_csv('2022-Brooke-Maize_groundtruth.csv')

In [114]:
data_ground_truth.head()

,Genotype,PLOT ID,REP,Fresh Weight,Leaf Area,SPAD 1,SPAD 2,SPAD 3,Field Location,Growth Stage,Source
0,B14A,1028,1,6.55,240.0,46.5,40.7,49.0,SAM,1,GH
1,B14A,1028,2,7.90,237.9,40.9,45.3,50.6,SAM,1,GH
2,2FACC,1052,1,8.70,273.3,49.2,50.4,52.1,SAM,1,GH
3,2FACC,1052,2,6.80,234.6,51.7,49.5,52.3,SAM,1,GH
4,PHZ51,1056,1,4.45,178.2,32.6,39.0,35.5,SAM,1,GH

In [116]:
#merging the ground truths with the multispeqs 
## sicti bu burdan devam et
merged_data_with_gt = pd.merge(data_ground_truth, merged_data, how='outer')

In [118]:
merged_data_with_gt.shape

(500, 68)